<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="translated-ltr"><head>
    <meta charset="utf-8" />
    <title>常见问题 -  Bootstrap管理模板</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link th:href="@{/assets/default/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/default/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    
    <link th:href="@{/assets/default/css/font-awesome.css}" rel="stylesheet" />
    
    <link th:href="@{/assets/default/css/style.css}" rel="stylesheet" />
    
    
    <link th:href="@{/assets/default/js/guidely/guidely.css}" rel="stylesheet" /> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css" /></head>

<body><div id="guidely-top"></div>
    
<div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">	      	
	      	
	      	<div class="span12">
	      		
	      		<div id="target-1" class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>12列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut im im。。。。。。。。。。。。。。。。。。。。。。。。。。</font><font>Duis aute irure dolor in reprehenderit in featate velit esse cillum dolore eu fugiat nulla pariatur。</font><font>异教徒圣诞节，不是虔诚的，不要吝啬的，因为我们的主要是妄想的动作。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span12 -->
      		
      		
      		
      		
      		 	
	      	
	      	<div class="span6">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>6列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam，quis nostrud exerciseitation ullamco laboris nisi ut等等。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span6 -->
      		 	
	      	
	      	<div class="span6">
	      		
	      		<div id="target-2" class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>6列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam，quis nostrud exerciseitation ullamco laboris nisi ut等等。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span6 -->
      		
      		
      		
      		
      		
      		 	
	      	
	      	<div class="span4">
	      		
	      		<div id="target-3" class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>4列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span4 -->
      		 	
	      	
	      	<div class="span4">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>4列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span4 -->
      		 	
	      	
	      	<div class="span4">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>4列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span4 -->
      		
      		
      		
      		
      		
      		
      		 	
	      	
	      	<div class="span3">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>3列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span3 -->
      		 	
	      	
	      	<div id="target-4" class="span3">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>3列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span3 -->
      		 	
	      	
	      	<div class="span3">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>3列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span3 -->
      		 	
	      	
	      	<div class="span3">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				
			      		<h1><font><font>3列</font></font></h1>
			      		
			      		<p><font><font>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et dolore magna aliqua。</font><font>Ut enim ad minim veniam。</font></font></p>	
			      		
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span3 -->
	      	
	      	
	      </div> <!-- /row -->
	
	    </div> <!-- /container -->
    
	</div> <!-- /main-inner -->
	    
</div> <!-- /main -->
    



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/assets/default/js/jquery-1.7.2.min.js}"></script>

<script th:src="@{/assets/default/js/bootstrap.js}"></script>
<script th:src="@{/assets/default/js/base.js}"></script>

<script th:src="@{/assets/default/js/guidely/guidely.min.js}"></script>

<script>

$(function () {
	
	guidely.add ({
		attachTo: '#target-1'
		, anchor: 'top-left'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});
	
	guidely.add ({
		attachTo: '#target-2'
		, anchor: 'top-right'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});
	
	guidely.add ({
		attachTo: '#target-3'
		, anchor: 'middle-middle'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});
	
	guidely.add ({
		attachTo: '#target-4'
		, anchor: 'top-right'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});
	
	guidely.init ({ welcome: true, startTrigger: false });


});

</script>
  


</body>
</html>