<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="translated-ltr"><head>
    <meta charset="utf-8" />
    <title>Hadoop日志处理</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link th:href="@{/assets/default/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/default/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    
    <link th:href="@{/assets/default/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/assets/default/css/style.css}" rel="stylesheet" />
    <link th:href="@{/assets/default/css/pages/reports.css}" rel="stylesheet" />
    <!--开始消息提示框 -->
	<link th:href="@{/assets/msg/toastr/css/toastr.css}" rel="stylesheet" type="text/css"/>
	<!--结束消息提示框 -->
    <!--开始表格-->
    <link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <!--结束表格-->
    <!--开始文件导入-->
	<link th:href="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css}" rel="stylesheet" type="text/css" />
	<!--结束文件导入-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  	<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css" /></head>
	
	<!-- add -->
	<link th:href="@{/css/common/base.css}" rel="stylesheet" />

<body>

    
<div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">
	      	
	      	<div class="span12">
	      		
						
					<ul class="nav nav-tabs">
				  		<li class="active"><a href="##" data-toggle="tab"><font><font>上传日志</font></font></a></li>
					</ul>
					<!--添加日志开始-->
					<div class="tab-content ml0"> 
						<div class="fileinput fileinput-new" data-provides="fileinput">
							<form id="uploadform">
								<p style="height:50px;">
									<label class="sub-title">选择导入文件：</label>
									<span class="btn red btn-file">
										<span class="fileinput-new"> 选择文件 </span>
										<span class="fileinput-exists"> 重新选择 </span>
										<input id="fileLogs" type="file" name="fileData" class="file-in" accept=".text,.txt,.log" style="width:265px;height:30px;float:right" />
									</span>	
									<span class="fileinput-filename ml10">未选择文件。 </span> &nbsp;
									<a href="#" class="close fileinput-exists" data-dismiss="fileinput"> </a>										
								</p>
								<div class="clearfix margin-bottom-20"></div>
								<p><label class="sub-title"></label><a id="fileUpload" class="btn red ml4" href="javascript:;"> 提交 </a></p>
							</form> 
						</div>
						<div id="showTime" class="alert alert-info hide"><font><font>数据处理用时:</font></font><strong><font><font id="useTime"></font></font></strong></div>
						
					</div>
					<div id="showReports" class="hide">
					<div class="span12">
						<div class="widget-header">
							<i class="icon-list-alt"></i>
							<h3>用户操作日志统计</h3>
							<h3 style="left:200px;">右键可以下载图表</h3>
						</div>
						<div id="handle_chart" class="chart-holder"></div>
					</div>
					<div class="span12">
						<div class="widget-header">
							<i class="icon-list-alt"></i>
							<h3>用户浏览日志统计</h3>
							<h3 style="left:200px;">右键可以下载图表</h3>
						</div>
						<div id="browse_chart" class="chart-holder"></div>
						</div>
					</div>
		    </div> <!-- /span12 -->
	      </div> <!-- /row -->
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div> <!-- /main -->
    
<script th:src="@{/assets/default/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/assets/default/js/excanvas.min.js}"></script>
<script th:src="@{/assets/default/js/chart.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/default/js/bootstrap.js}"></script>
<script th:src="@{/assets/default/js/base.js}"></script>
<!-- BEGIN 表格 -->
<script th:src="@{/assets/global/scripts/datatable.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/datatables/datatables.min.js}" type="text/javascript"></script>
<!-- END 表格 -->
<!-- BEGIN 文件导入 -->
<script th:src="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-fileinput/ajaxfileupload.js}" type="text/javascript"></script>
<!-- END 文件导入 -->
<!--开始消息提示框 -->
<script th:src="@{/assets/msg/mustache/mustache.js}" type="text/javascript"></script>
<script th:src="@{/assets/msg/toastr/js/toastr.js}" type="text/javascript"></script>
<script th:src="@{/assets/msg/Message.js}" type="text/javascript"></script>        
<!--结束消息提示框 -->
<!-- 开始图表 -->
<script th:src="@{/assets/default/js/icharts/ichart.1.2.1.min.js}" type="text/javascript"></script>
<!-- 结束图表 -->

<!-- add -->
<script th:src="@{/js/common/base.js}" type="text/javascript"></script>
<script th:src="@{/js/system/uploadToHadoop.js}"></script> 

<!-- listener -->
<script th:src="@{/js/common/listener.js}"></script>
</body>
</html>